.ui.container {
  padding-top: 2rem;
}

.ui.form {
  margin: 2rem 0;
}

.ui.centered.inline.loader.active {
  margin-top: 5rem;
}

.addCharacterButton {
  height: fit-content;
  margin-top: 24px !important;
}

.ui.grid > .row > .column {
  margin-top: 2rem;
}

.ui.card {
  min-height: 300px;
}
